In [1]:
#Create a tuple called data with two values, (1, 2) and (3, 4)

In [2]:
t1=(1,2)

In [3]:
t1

(1, 2)

In [4]:
type(t1)

tuple

In [5]:
t2=(3,4)

In [6]:
t2
type(t2)

tuple

In [7]:
#Create the list [4, 3, 2, 1] and assign it to variable numbers.

In [8]:
List=[4,3,2,1]

In [9]:
List[0]

4

In [10]:
#Create a copy of the number list using [:]

In [11]:
l1=[1,2,3,4,5,6,7,8,9,10]

In [12]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
type(l1)

list

In [14]:
l2=l1[0:4]

In [15]:
l2

[1, 2, 3, 4]

In [16]:
#Sort the numbers list in numerical order

In [17]:
L3=[6,4,3,5,6,7,8,9,8]

In [18]:
L3

[6, 4, 3, 5, 6, 7, 8, 9, 8]

In [19]:
L3.sort(reverse=False)
L3

[3, 4, 5, 6, 6, 7, 8, 8, 9]

In [20]:
#Create a tuple "cardinal_numbers" with "first", "second" and "third"

In [21]:
cardinal_numbers=("first","second","third")

In [22]:
cardinal_numbers

('first', 'second', 'third')

In [23]:
# Display the second object in the tuple

In [24]:
cardinal_numbers[1]

'second'

In [25]:
#Unpack the tuple into three strings and display them

In [26]:
students=("ram","shyam","mohan")
student1,student2,student3=students

In [27]:
print(f"""
{student1}
{student2}
{student3}

""")

ram
shyam
mohan

In [28]:
#Create a tuple containing the letters of your name from a string

In [29]:
Name ="Rahul Srivastava"
tup1=[]
for i in Name:
    tup1.append(i)
print(tup1)

['R', 'a', 'h', 'u', 'l', ' ', 'S', 'r', 'i', 'v', 'a', 's', 't', 'a', 'v', 'a']

In [30]:
tup1.append(i)

In [31]:
tup1

['R',
 'a',
 'h',
 'u',
 'l',
 ' ',
 'S',
 'r',
 'i',
 'v',
 'a',
 's',
 't',
 'a',
 'v',
 'a',
 'a']

In [32]:
#Check whether or not x is in my_name

In [33]:
my_name=("Rahul Srivastava")

In [34]:
print("x" in my_name )

False

In [35]:
#Check whether or not s is in my_name

In [36]:
my_name=("Rahul Srivastava")

In [37]:
print("s" in my_name )

True